//主色调
$color:#d23023;
//常用色
$color-c1:#7e140f;
$color-c2:#ec6d59;
$color-c3:#e65040;
$color-c4:#ffe3de;
$color-c5:#faf6f5;
$color-c6:#db5850;
$color-c7:#ffa094;
//背景色/副色
$color-b:#fff;
$color-b1:#ededef;
$color-f3:#f3f3f3;
$color-f1:#e7e7e7;
$color-f2:#dfdfdf;
//文字色
$color-w:#444;
$color-w1:#888;
$color-w2:#aaa;
//分割线
$color-f:#f6bdbb;
$color-a:#7594b3;

//文字
$fontSize1:0.48rem;
//用户名/歌曲名称
$fontSize2:0.453rem;
//内容
$fontSize3:0.427rem;
//标题
$fontSize:0.4rem;
//播放页面
$fontSize4:0.347rem;
//辅助文字
$fontSize5:0.32rem;
$fontSize6:0.213rem;

//通用样式
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: $fontSize;
    font-style: normal;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:after{
	content: "";
	height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
html,body{height: 100%;}
//添加新地址
.a-content{
    position: relative;
    height: 100%;
    background: $color-b1;
    .cue{
        &.active{
            display: block;
        }
        display: none;
        margin: 4rem auto 0;
        width: 5rem;
        height: 1rem;line-height: 1rem;
        border-radius: 0.1rem;
        background: rgba(0,0,0,.7);
        text-align: center;
        color: $color-b;
        font-size: $fontSize5;
    }
    .modal{
        display: none;
        &.active{
            display: block;
        }
        background: rgba(0,0,0,.1);
        position: absolute;
        top: 0;left:0;bottom:0;right:0;
        .a-cue{
            background: $color-b;
            margin: 8rem auto;
            width: 8rem;
            padding: 0.5rem 0.4rem 1.5rem;
            p,span{
                font-size: $fontSize1;
            }
            span{
                padding-top: 0.5rem;
                color: $color;
            }
        }
    }
    header{
        padding: 0 0.5rem;
        height: 1.5rem;line-height: 1.5rem;
        background: $color;
        font-size: $fontSize1;
        p{
            color: $color-b;
            a{
                font-family: "宋体";
            }
        }
        a{
            margin-right: 0.3rem;
            color: $color-b;
        }
    }
    .main{
        background: $color-b;
        padding-bottom: 0.05rem;
        .bk{
            position: relative;
            .list{
                display: none;
                position: absolute;
                top: 1.2rem;right: 0.5rem;
                background: $color-b;
                //border: 0.01rem solid $color-b1;
                padding: 0 0.6rem;
                p{
                    height: 1rem;line-height: 1rem;
                    color: $color-w1;
                }
            }
        }
        .bank{
            color: $color-w1;
            i{
                margin-left: 0.2rem;
            }
        }
        a{
            display: block;
            width: 6rem;height: 1.2rem;
            line-height: 1.2rem;
            background: $color;
            color: $color-b;
            letter-spacing: 0.1rem;
            border: none;
            margin: 0.5rem auto;
            border-radius: 0.1rem;
            text-align: center;
        }
        &>p{
            padding: 0.4rem 0.5rem 0.2rem;
            color: $color-w2;
        }
        .card{
            background: $color-b;
            .user{
                padding: 0 0.5rem;
                border-bottom: 0.01rem solid $color-b1;
                height: 1.5rem;line-height: 1.5rem;
                input{
                    width: 7rem;height: 0.8rem;
                    margin-top: 0.35rem;
                    border: none;
                }
            }
        }
        .repeat{
            border-bottom: 0.01rem solid $color-b1;
            height: 1.5rem;line-height: 1.5rem;
            padding: 0 0.3rem;
            span{
                margin-right: 0.6rem;
            }
            input{
                margin: 0.3rem 0;
                border: none;
                width: 7.1rem;height: 0.9rem;
            }
        }
        &>input{
            margin: 0.3rem;
            width: 9.4rem;height: 0.9rem;
            border: none;
        }
    }
}
//地址
.c-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    background: $color-b1;
    position: relative;
    .modal{
        display: none;
        position: absolute;
        top: 0;left: 0;right: 0;bottom: 0;
        background: rgba(0,0,0,.3);
        .box{
            width: 6rem;
            margin: 8rem auto 0;
            background: $color-b;
            padding: 0 0.4rem;
            border-radius: 0.1rem;
            p{
                line-height: 1.2rem;
            }
            .option{
                letter-spacing: 0.1rem;
                .fl{
                    color: $color-w1;
                }
                .fr{
                    color: $color;
                }
            }
        }
    }
    &>p{
        padding: 0 0.5rem;
        height: 1.5rem;line-height: 1.5rem;
        background: $color;
        color: $color-b;
        font-size: $fontSize1;
        a{
            margin-right: 0.3rem;
            font-family: "宋体";
        }
    }
    .main1{
        margin-top: 0.3rem;
        .floor2{
            border-radius: 0.15rem;
            margin: 0 0.3rem 0.3rem;
            height: 1.8rem;
            background: #c65157 url("../../src/img/LOGO.jpg") no-repeat;
            background-size: 6.5rem;
            background-position: 3.5rem;
            color: $color-b;
            padding: 0.4rem;
            img{
                width: 0.75rem;height: 0.75rem;
                border-radius: 50%;
                border: 0.12rem solid $color-c5;
                margin-right: 0.4rem;
            }
            .div1{
                font-size: $fontSize1;
                .p1{
                    font-size: 0.15rem;
                }
                .p2{
                    margin: 0.25rem 0 0 1rem;;
                    font-size: $fontSize1; 
                    span{
                        font-size: $fontSize1; 
                        margin: 0 0.3rem;
                    }
                    i{
                        font-size: $fontSize1; 
                        margin-left: 0.3rem;
                    }
                }
            }
        }
    }
    .main{
        flex: 1;
        overflow: auto;
        .floor1{
            margin-bottom: 0.2rem;
            background: $color-b;
            &>p{
                font-size: $fontSize3;
                line-height: 1.2rem; 
                padding: 0 0.3rem;
            }
            .location{
                padding: 0 0.3rem 0.3rem;
                line-height: 0.6rem;
                border-bottom: 0.02rem solid $color-b1;
            }
            .btm{
                padding: 0 0.3rem;
                height: 1rem;line-height: 1rem;
                i{
                    margin-right: 0.15rem;
                    font-size: $fontSize1;
                }
                .dlt{
                    margin-left: 0.3rem;
                }
            }
        }
    }
    a{
        height: 1.5rem;line-height: 1.5rem;
        text-align: center;
        font-size: $fontSize;
        background: $color;
        color: $color-b;
    }
}
//修改个人资料
.m-content{
    position: relative;
    background: $color-b1;
    header{
        padding: 0 0.5rem;
        height: 1.5rem;line-height: 1.5rem;
        background: $color;
        color: $color-b;
        a{
            color: $color-b;
            margin-right: 0.5rem;
        }
    }
    .main{
        .div3{
            position: relative;
            margin: 0.25rem 0;
            width:1rem; height: 1rem;
            img{
                width:1rem; height: 1rem;
            }
        }
        input[type="file"]{
            position: absolute;
            top: 0;left: 0;
            width:1rem; height: 1rem;
            opacity: 0;
            margin: 0;
        }
        input{
            border: none;
            text-indent: 1em;
            text-align: right;
            height: 0.7rem;line-height: 0.7rem;
            margin: 0.4rem 0;
        }
        &>p{
            padding: 0 0.3rem;
            font-size: $fontSize4;
            color: $color-w1;
        }
        .floor2{
            //padding: 0 0.3rem;
            p{
                height: 1.5rem;line-height: 1.5rem; 
            }
            span{
                height: 1.5rem;line-height: 1.5rem;
                //color: $color-w1;
            }
        }
        .floor1{
            background: $color-b;
            margin: 0.3rem 0;
        }
        .repeat{
            border-bottom: 0.01rem solid $color-f1;
            padding: 0 0.3rem;
            height: 1.5rem;line-height: 1.5rem; 
            .p1{
                color: $color-w1; 
            }
            .modal{
                display: none;
                position: absolute;
                top: 0;left: 0;right: 0;bottom: 0;
                background: rgba(0,0,0,.3);
                .sex{
                    width: 8rem; 
                    margin: 7.5rem auto;
                    border-radius: 0.1rem;
                    p{
                        padding: 0 0.5rem;
                        height: 1.5rem;
                        line-height:1.5rem;
                        background: $color-b;
                    }
                    i{
                        display: none;
                        font-size: 0.65rem;
                        color: $color;
                    }
                }
            }
            .circle{
                position: relative;
                margin: 0.25rem 0;
                width:1rem; height: 1rem;
                border-radius: 50%;
                border: 0.01rem solid $color-w1;
                overflow: auto;
                img{
                    width:1rem; height: 1rem;
                } 
            }
            .icon-qrcode{
                font-size: 0.5rem;
            }
        }
    }
}
//data(个人资料)
.d-content{
    .top{
        height: 8rem;
        text-align: center;
        background: #db5850;
        background-size: 100% auto;
        color: $color-b;
    }
    .head{
        padding:0 0.5rem; 
        height: 1.5rem;
        line-height: 1.5rem;
        a,i{
            color: $color-b;
            font-size: 0.6rem;
        }
        a{
            font-family: "宋体";
        }
    }
    .pt{
        .circle{
            margin: 0 auto;
            width:2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            border: 0.02rem solid $color-w1;
            overflow: auto;
            img{
                width: 100%;
                height: 100%;
            }
        }
        p{
            font-size:$fontSize3; 
            line-height: 1.2rem;
        }
        a{
            display: block;
            color: $color-b;
            width: 3rem;
            height: 0.8rem;line-height: 0.8rem;
            border: 0.02rem solid $color-b;
            border-radius: 0.6rem;
            margin: 0.3rem auto;
            i{
                margin-right: 0.1rem;
            }
        }
    }
    .main{
        margin-top: 0.5rem;
        &>p{
            margin: 0.5rem 0;
            padding: 0 0.3rem;
            border-left: 0.1rem solid $color;
        }
        div{
            color: $color-w;
            padding: 0 0.4rem;
            p{
                line-height: 0.8rem;
            }
        }
    }
}
//登录、注册
.l-content{
    .main{
        padding: 0 0.5rem;
        &>p{
            height: 1.5rem;line-height: 1.5rem;
            color: $color-w1;
            font-size: $fontSize4;
        }
        a{
            display: block;
            margin-top: 0.6rem;
            height: 1rem;line-height: 1rem;
            border-radius: 0.8rem;
            text-align: center;
            width: 100%;
            background: $color-c3;
            color: $color-b;
            letter-spacing: 0.1rem;
            border: none;
        }
        .validata{
            height: 1.5rem;line-height: 1.5rem;
            .icon-mobilephone{
                margin-right: 0.2rem;
                font-size: 0.58rem;
            }
            input{
                width: 6.3rem;height: 0.9rem;
                line-height: 0.9rem;
                margin: 0.3rem 0;
                border: none;
            }
            p{
                color: $color-a;
            }
        }
    }
    .btn{
        border: none;
        input{
            margin-top: 0.6rem;
            height: 1rem;line-height: 1rem;
            border-radius: 0.8rem;
            text-align: center;
            width: 100%;
            background: $color-c3;
            color: $color-b;
            letter-spacing: 0.1rem;
            border: none;
        }
    }
    &>p{
        padding: 0 0.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        background: $color-c3;
        color: $color-b;
        a{
            color: $color-b;
            margin-right: 0.3rem; 
            font-family: "宋体";
        }
    }
    .cue{
        &.active{
            display: block;
        }
        display: none;
        margin: 7rem auto 0;
        width: 5rem;
        height: 1rem;line-height: 1rem;
        border-radius: 0.8rem;
        background: rgba(0,0,0,.7);
        text-align: center;
        color: $color-b;
        font-size: $fontSize5;
    }
    .form{
        padding: 0.5rem;
        div{
            height: 1.2rem;line-height: 1.2rem;
            border-bottom: 0.01rem solid $color-w2;
            margin-top: 0.5rem;
        }
        span{
            font-size: $fontSize6;
            color: $color-a;
        }
        #username{
            width: 8.1rem;
        }
        #password{
            width: 7.3rem;
        }
        input{
            height: 1.1rem;line-height: 1.1rem;
            border: none;
            text-indent: 1em;
        }
        
    }
}
//music
.m-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    header{
        height:1.5rem;
        line-height: 1.5rem;
        padding-right: 0.3rem;
        background:#d43c33;
        .logo{
            width: 4.8rem;
            height: 1.3rem;
            padding: 0.1rem;
            img{
                width: 100%;height: 100%;
            }
        }
        .carte{
            font-size: 1rem;
            color: $color-b;
        }
        aside{
            display: none;
            &.active{
                display: block;
            }
            position: fixed;
            top: 0;right:0;bottom: 0;left: 0;
            z-index: 9999;
            background: rgba(0,0,0,.2);
            .menu{
                width: 8rem;height: 100%;
                background: $color-b;
                position: absolute;
                right: 0;
                .lg{
                    display: none;
                    width: 6rem;height: 0.9rem;line-height: 0.9rem;
                    text-align: center;
                    margin: 5rem auto;
                    background: rgba(0,0,0,.6);
                    color: $color-b;
                    border-radius: 0.5rem;
                    font-size: 0.38rem;
                }
                @at-root .data{
                    background: url("http://img1.imgtn.bdimg.com/it/u=1769181433,1179787488&fm=27&gp=0.jpg");
                    background-size: 100% auto;
                    .div1{
                        display: none;
                    }
                    color: $color-f1;
                    height: 3rem;
                    //更换
                    //background: rgba(0,0,0,.7);
                    padding: 1rem;
                    text-align: center;
                    .circle{
                        display: block;
                        margin: 0 auto;
                        width: 1.8rem;height: 1.8rem;
                        border-radius: 1.8rem;
                        border: 0.01rem solid $color-w1;
                        overflow: hidden;
                        img{
                            width: 100%;height: 100%;
                        }
                    }
                    .login{
                        margin-top: 0.6rem;
                        a{
                            display: inline-block;
                            line-height: 0.8rem;
                            padding: 0 0.6rem;
                            border-radius: 0.8rem;
                            border:0.02rem solid $color-f2;
                            color: $color-f1;
                        }
                    }
                    .p1{
                        margin-top: 0.2rem;
                        font-size: $fontSize4;
                        line-height: 0.6rem;
                        color: $color-f2;
                    }
                }
                @at-root .set{
                    padding: 0 0.4rem;
                    p{
                       display: block; 
                       color: $color-w; 
                    }
                }
                @at-root .bottom{
                    padding: 0 0.4rem;
                    position: absolute;
                    bottom: 0;left: 0;right: 0;
                    border-top: 0.02rem solid $color-b1;
                    background: $color-f3;
                }
            }  
        }
    }
    //top
    .m-top{
        height: 1rem;line-height: 1rem;
        font-size: $fontSize1;
        border-bottom: 0.02rem solid $color-b1;
        margin-bottom:0.046rem;
        span{
            &.active{
                color: $color;
                border-bottom: 0.05rem solid $color;
            }
            display: inline-block;
            width: 1.83rem;
            margin:0 0.7rem;
            text-align: center; 
        }
    }
    //main floor
    @at-root .m-main{
        flex: 1;
        overflow: auto;
        &>div{
            display: none;
            &.active{
                display: block;
            }
        }
        //歌单公用样式
        .floor1{
            .music{
                height: 1.1rem;
                padding: 0.2rem 0.3rem;
                border-bottom: 0.01rem solid $color-b1;
                .fl{
                    .song{
                        font-size: $fontSize3;
                        padding-bottom: 0.08rem;
                    }
                    .author{
                        font-size: $fontSize5;
                        color: $color-w1;
                    }
                }
                .fr{
                    color: $color-w1;
                    i{
                        display: inline-block;
                        font-size: 0.6rem;
                        margin:0.25rem 0;
                    }
                }
            }
        }
        //m-content1
        @at-root .m-content1{
            .title{
                font-size:$fontSize3; 
                margin: 0.45rem 0;
                padding-left: 0.2rem;
                border-left: 0.06rem solid $color;
            } 
            .floor{
                .figure{
                    margin-bottom:0.3rem; 
                    a{
                        color: $color-w;
                        float: left;
                        width: 3.13rem;
                        margin:0 0.1rem;
                        p{
                            font-size: $fontSize4; 
                            padding: 0.1rem;
                            height: 0.9rem;
                        }
                        .photo{
                            height: 3.2rem;
                            border:0.01rem solid $color-f2;
                            img{
                                width: 100%;
                                height: 100%;
                            }  
                        }
                    }
                }
            }
        }
        //m-content2
        @at-root .m-content2{
            .num{
                font-size: $fontSize2;
                color: $color;
                line-height: 1.1rem;
                padding-right: 0.3rem;
            }
            .num1{
                color: $color-w;
            }
            .all{
                display:block; 
                height: 1.5rem;line-height: 1.5rem;
                text-align: center;
                color: $color-w1;
                border-bottom: 0.01rem solid $color-b1;
            }
        }
        //m-content3
        @at-root .m-content3{
            .sou{
                height: 0.8rem;line-height: 0.8rem;
                padding: 0.4rem 0.3rem;
                border-bottom: 0.01rem solid $color-b1;
                .ipt{
                    border-radius: 0.8rem; 
                    background: $color-b1;
                    color: $color-w2;
                    font-size: $fontSize4;
                    padding: 0 0.3rem;
                    i{
                        margin-right: 0.1rem;
                    }
                    input{
                        width: 8rem;
                        height: 0.8rem;line-height: 0.8rem;
                        border-radius: 0.8rem; 
                        border: none;
                        background: $color-b1;
                    }
                }
            }
            .hot{
                padding: 0 0.3rem;
                .p11{
                    font-size: $fontSize5;
                    color: $color-w1;
                    padding: 0.3rem 0;
                }
                li{
                    float: left;
                    border: 0.02rem solid $color-f1;
                    border-radius: 0.5rem;
                    padding: 0.1rem 0.4rem;
                    margin: 0 0.3rem 0.3rem 0;
                    //font-size: $fontSize3;
                    color: $color-w;
                }
                .div5{
                    display: none;
                }
            }
        }
    }
}
















